{
  "extends": "airbnb",
  "rules": {
   "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "document": "readonly",
    "navigator": "readonly",
    "window": "readonly"
  }
}
