body {
  color: white;
  background-color: #003399;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 20px;
}

#logo {
  width: 30px;
  height: 20px;
}

#riding {
  font-size: 1.5em;
}
